<app-navbar></app-navbar>
<div class="nav-space"></div>

<h1 class="display-msg">{{msg}} </h1>
<div class="div">
    <button mat-flat-button class="plus" (click)="addTime()">+</button>
    <p class="date">{{this.today | date:'cccc: MMMM d, y'}}</p> 
</div>
<div>
    <div class="totalH">
        <p class="total totalReg">{{tot}} Hours Worked Today</p>
    </div>
    <div class="breakdown">
        <div class="top">
            <p class="subject offset">Subject</p>
            <p class="time under">Time</p>
        </div>
        <div class="row" *ngFor="let item of currTsTt">
            <p class="subject">{{item.subject}}</p>
            <p class="time">{{this.precision(item.hours)}} hours</p>
        </div>
    </div>
</div>