.nav-space {
    padding-top: 70px;
}

.display-msg {
    font-family: Inter;
    font-size: 15px;
    justify-content: center;
    padding-right: 5px;
    padding-top: 5px;
    color: #317264;
    display: flex;
}

.date {
    font-family: Lato;
    font-size: 30px;
    justify-content: center;
    display: flex;
    padding-top: 50px;
    padding-right: 15px;
    color: #317264;
    font-weight: bold;
    margin-left: 60px;

}

.plus{
    background-color: #FFB685;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    height: 50px!important;
    width: 50px!important;
    min-width: unset!important;
    display: flex;
    margin-left: 0;
    border: 4px double #ffffff;
}

.plus:hover {
    background: #FF9D5C;
}

.div {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    background-color: #f1f9f7;
    padding-bottom: 40px;
    margin-right: -10px;
    margin-left: -10px;
}

.totalH {
    display: flex;
    justify-content: center;
    flex-direction: row;;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 6px;
    margin-left: -20px;
    margin-right: -20px;
    background-color: #f1f9f7;
}

.total {
    font-weight: bold;
    
}

.totalReg {
    color: #FF8533;
    font-size: 20px;
}

.breakdown {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-top: 10px;
    margin-left: 550px;
    margin-right: 550px;
    border: 3px solid #CEDEDE;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    padding-top: 17px;
    padding-bottom: 5px;
    padding-left: 3%;
    font-size: 16px;
    position: relative;
} 

.row:nth-child(odd) {
    background-color: #f1f9f7;
}

.top {
    display: flex;
    padding-left: 4.5%;
    position: relative;
    font-family: Inter;
    background-color: #f1f9f7;
    flex-direction: row;
    font-size: 22px;
    padding-top: 15px;
    margin-top: -10px;
    font-weight: bolder;
    padding-bottom: 6px;
    text-decoration: underline;
    border-bottom: 3px solid #CEDEDE;
    color: #F56200;
}

.under {
    text-decoration: underline;
}

.time {
    display: flex;
    justify-content: right;
    position: absolute;
    padding-left: 72%;
}

.subject {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
}

.offset {
    padding-left: 0%;
}